$deleteColor: #BF3C25;
$actionColor: #009688;

@mixin allowSelect {
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: element;
	user-select: text;
	user-select: contain;
}

@mixin noSelect {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html, body, input, button {
	font-family: sans-serif;
	font-size: 14px;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	background: white;
	color: black;
}

#loaderDiv {
	position: fixed;
	display: flex;
	background: white;
	color: black;
	width: 100%;
	height: 100%;
	align-items: center;
	place-content: center;

	&[hidden] {
		display: none;
	}
}

#firebaseui-auth-container {
	width: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	place-content: center;

	&[hidden] {
		display: none;
	}
}

.topbar {
	overflow: hidden;

	.select {
		background: #eee;
	}
}

.user {
	float: right;
	margin-right: 10px;

	img {
		margin-right: 5px;
		vertical-align: middle;
		max-height: 40px;
	}
}

#curWorkstationDiv {
	cursor: default;
	padding: 10px;
	background: #ddd;
	height: 40px;
	box-sizing: border-box;
	line-height: 20px;
	width: 100%;
	max-width: 300px;
	position: relative;
	color: #666;
	transition: background-color 0.1s, color 0.1s;

	&::before {
		color: #999;
		position: absolute;
		content: '▼';
		right: 12px;
		top: 10px;
	}

	&:hover {
		background: $actionColor;
		color: white;

		&::before {
			color: rgba(255, 255, 255, 0.5);
		}
	}

	&.expanded {
		background: #aaa;
		color: #666;

		&::before {
			content: '▲';
			color: #666;
		}
	}
}

#workstationSelectionDiv {
	position: absolute;
	background: #ddd;
	width: 100%;
	max-width: 300px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		cursor: default;
		margin: 0;
		padding: 10px;
		transition: background-color 0.1s, color 0.1s;

		&:hover, &.menuon {
			background: $actionColor;
			color: white;
		}

		&.selected {
			color: #666;
			background: #ccc;
			@include allowSelect;
		}
		&:focus {
			margin: 4px;
			border: 1px solid #bbb;
			padding: 5px;
			cursor: text;
			background: white;
			box-sizing: border-box;
			color: black;
		}
	}
	input {
		width: calc(100% - 10px);
		box-sizing: border-box;
		padding: 5px;
		margin: 5px;
	}
}

#workstationContextMenu, #boardContextMenu, #taskContextMenu, #userMenu, #statusContextMenu {
	background: #eee;
	padding: 5px;
	position: fixed;
	min-width: 200px;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
	z-index: 100;

	button, label {
		display: block;
		width: 100%;
		background: none;
		border: none;
		padding: 8px;
		text-align: left;
		padding-left: 25px;
		border-radius: unset;
		transition: background-color 0.1s, color 0.1s;
		box-sizing: border-box;

		&:hover, &:focus {
			background: $actionColor;
			color: white;
		}

		&.selected {
			background: #ddd;
			/*color: white;*/
			position: relative;
			color: black;

			&::before {
				position: absolute;
				left: 10px;
				top: 12px;
				content: ' ';
				/*border: 1px solid black;*/
				background: black;
				width: 6px;
				height: 6px;
				border-radius: 8px;
			}

			/*&:hover::before {
				background: white;
			}*/
		}

		&.delete:hover {
			background: $deleteColor;
		}

		&[hidden] {
			display: none;
		}
	}
	input[type=checkbox] {
		position: absolute;
		left: 8px;
	}

	h4 {
		margin: 5px 5px;
		padding: 0;
		font-size: 11px;
		font-weight: normal;
		color: #999;
	}
}

#userMenu {
	right: 0;
	top: 40px;
}

.boards {
	padding: 0 5px;
	border-bottom: 2px solid $actionColor;
	margin: 5px 0 10px;

	ul {
		display: inline-block;
		list-style: none;
		margin: 5px 0 0;
		padding: 0;
	}
	li, input {
		display: inline-block;
		color: #666;
		vertical-align: bottom;
	}
	li {
		padding: 10px 15px;
		margin: 0 0 0 2px;
		background: #eee;
		border-radius: 10px 10px 0 0;
		cursor: default;
		transition: background-color 0.1s, color 0.1s;
		@include allowSelect;

		&:hover, &.menuon {
			background: $actionColor;
			color: white;
		}

		&:focus {
			border: 1px solid #bbb;
			cursor: text;
			background: white;
			color: black;
			margin: -1px -1px -1px 1px;
		}

		&.selected {
			margin: 0 0 -2px 2px;
			background: white;
			color: $actionColor;
			border: 2px solid $actionColor;
			border-bottom: none;

			&:focus {
				color: black;
			}
		}
	}
	input {
		vertical-align: top;
		margin: 7px 0 0 5px;
		padding: 5px 7px;
		box-sizing: border-box;
	}
}

#taskWorkstationSelect {
	display: inline-block;

	&[hidden] {
		display: none;
	}
}

#tasksDiv {
	margin: 15px;

	&.importershown {
		margin-bottom: calc(50vh + 15px);
	}

	.addtask {
		margin-bottom: 15px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		&.Done, &.Archived {
			li {
				color: #00000066;
				background: #f9f9f9;

				button {
					border-color: #00000033;
					color: black;
				}
			}
		}
		&.Cancelled {
			li {
				color: #00000055;
				background: #fafafa;

				button {
					border-color: #00000033;
				}
			}
		}
	}
	li {
		margin: 5px 0;
		padding: 5px;
		background: #f1f1f1;
		cursor: default;
		border-radius: 10px;
		transition: background-color 0.1s, color 0.1s;

		&:hover {
			background: #e2e2e2 !important;
		}

		&:focus {
			background: #e0d1be !important;
			outline: none;
		}

		&.selected {
			background: #bee0dd !important;
			outline: none;
		}

		button {
			width: 32px;
			height: 32px;
			margin-right: 2px;
			color: transparent;
			border-color: #00000066;

			&:hover, &:focus {
				color: white !important;
				border-color: $actionColor;
			}
		}

		span {
			display: inline-block;
			padding: 7px;
			border: 1px solid transparent;
			@include allowSelect;

			&:focus {
				cursor: text;
				background: white;
				border-color: #bbb;
				min-width: 500px;
				color: black;
			}
		}

		i {
			font-size: 0.8em;
			color: rgba(0, 0, 0, 0.5);
			display: inline-block;
			background: #00968820;
			padding: 5px;
			font-style: normal;
			border-radius: 5px;
			vertical-align: middle;
			margin-left: 5px;
		}
	}

	h3 {
		font-size: 1.0em;
		margin: 15px 0 5px;
		padding: 7px;
		transition: background-color 0.1s;

		&.Done, &.Archived {
			color: #666;
		}
		&.Cancelled {
			color: #999;
		}

		&:hover {
			background: #e2e2e2;
		}

		&::after {
			display: inline-block;
			margin-left: 5px;
			font-size: 9px;
			content: '▼';
			line-height: 18px;
			border: 1px solid #999;
			color: #666;
			text-align: center;
			border-radius: 12px;
			width: 20px;
			height: 20px;
			box-sizing: border-box;
			vertical-align: middle;
		}

		&.expanded::after {
			content: '▲';
		}
	}
}

#importer + #tasksDiv {
	color: red;
}

#addTaskInput {
	padding: 10px 10px 10px 45px;
	min-width: 500px;
	margin-right: 7px;
}

.delete {
	color: $deleteColor;
}

hr {
	margin: 5px 0;
	border: none;
	border-top: 1px solid #bbb;
}

button, .buttons li {
	border: 1px solid #666;
	padding: 5px 7px;
	border-radius: 5px;
	color: #666;
	background: none;
	transition: background-color 0.1s, color 0.1s;

	&.default {
		border-color: $actionColor;
		color: $actionColor;
	}

	&:hover, &:focus {
		background: $actionColor;
		color: white;
		border-color: $actionColor;
	}

	&.delete {
		border-color: $deleteColor !important;

		&:hover {
			background-color: $deleteColor !important;
		}
	}
}

.buttons {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin: 5px 0 0;
		padding: 10px 15px;
	}
}

input {
	padding: 5px;
	background: white;
	border: 1px solid #bbb;
	min-width: 200px;
	transition: background-color 0.1s;

	&:hover {
		background: #f1f1f1;
	}

	&:focus {
		background: white;
	}
}
input[type=checkbox] {
	min-width: unset;
}

.radios {
	label {
		margin: 0;
		padding: 2px 1px;
		display: inline-block;
		border-top: 2px solid $actionColor;
		border-bottom: 2px solid $actionColor;
		transition: border-color 0.2s;

		&:first-child {
			padding-left: 2px;
			border-left: 2px solid $actionColor;
			border-radius: 8px 0 0 8px;
		}
		&:last-child {
			padding-right: 2px;
			border-right: 2px solid $actionColor;
			border-radius: 0 8px 8px 0;
		}
	}
	input[type=radio] {
		display: none;
		/* -webkit-appearance: none; */
	}
	label span {
		display: block;
		padding: 5px 12px;
		color: $actionColor;
		transition: background-color 0.1s, color 0.1s;
		@include noSelect;

		&:hover {
			color: white;
			background: $actionColor;
		}
	}
	input {
		&:checked + span {
			background: $actionColor;
			color: #fff;
		}
		&.default:checked + span {
			background: #bbb;
		}
		&.default + span:hover {
			background: #bbb;
		}
	}
	label:first-child span {
		border-radius: 6px 0 0 6px;
	}
	label:last-child span {
		border-radius: 0 6px 6px 0;
	}

	&.default {
		label {
			border-color: #bbb;
		}
	}

	&.disabled {
		label {
			border-color: transparent;
		}

		input {
			& + span {
				visibility: hidden;
			}
			&:checked + span {
				visibility: visible;
				background-color: #bbb;
			}
		}
	}
}

#importer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #ddd;
	padding: 20px;
	box-sizing: border-box;
	max-height: 50%;
	overflow-y: auto;
	z-index: 50;

	h2 {
		font-size: 1.2em;
		color: #666;
		font-weight: normal;
		margin: 0 0 10px;
	}

	p {
		margin: 0;
	}

	#dragHere {
		border: 2px dashed #999;
		padding: 40px;
		text-align: center;
		font-size: 1.4em;
	}

	&.active #dragHere {
		border-color: $actionColor;
	}
}

#closeImporter {
	position: absolute;
	right: 20px;
	top: 20px;
	border: none;
	height: 32px;
	width: 32px;
	
}

#statusEdit {
	position: fixed;
	background: #00000088;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 150;
	display: flex;
	overflow-y: auto;
	padding: 20px;

	&[hidden] {
		display: none;
	}

	> div {
		background: white;
		border-radius: 15px;
		padding: 35px;
		box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
		margin: auto;
	}

	.radios {
		margin: 0 10px;
		display: inline-block;

		&.hidden {
			visibility: hidden;
		}
	}

	.drag {
		padding: 0;
		border: 1px solid #666;
		width: 32px;
		height: 32px;
		box-sizing: border-box;
		vertical-align: middle;
		margin: 0 10px 0 0;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		cursor: move;
		text-align: center;
		line-height: 32px;

		&.disabled {
			cursor: default;
			border: none;
			visibility: hidden;
		}
	}

	ul {
		margin-bottom: 10px;
	}

	button {
		border-radius: 10px;
		padding: 15px 20px;
	}

	li {
		&.dragging {
			opacity: 0.5;
		}

		&.dragbelow {
			position: relative;

			&::after {
				content: ' ';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				background: black;
				height: 2px;
			}
		}

		button {
			margin-left: 20px;
			color: #666;
			padding: 5px 7px;
			border-radius: 5px;

			&.delete {
				color: $deleteColor;
			}
		}
	}
}
#addStatus {
	margin-bottom: 20px;
}
#saveStatusEdit {
	float: right;
}